
<html lang="en">
    <%var title = 'Christian\'s Resume'%>
    <%include partials/resumeHeader%>
    <body>
        <h1>
            This is a resume for <%=username%>!
        </h1>
    </body>
</html>